.task-main {
  max-width: 800px;
  margin: 4rem auto;

  .task-card {
    width: 90%;
    margin: 0 auto;
  }
  .task-title {
    font-size: 1.2rem;
  }

  .task-link {
    display: block;
    flex-grow: 1;
  }
}

@media screen and (min-width: 769px) {
  .task-main,
  .pomoclock-main {
    margin-left: 300px;
  }
}

@media screen and (min-width: 1300px) {
  .task-main {
    margin-left: auto;
  }
}
