@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap");

@import url(./components/index.scss);

/* variables */
:root {
  --primary-color: hsl(242, 72%, 51%);
  --secondary-color: hsl(340, 83%, 73%);

  --text-primary: hsl(0, 0%, 7%);
  --text-secondary: hsl(0, 0%, 34%);

  --primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;

  --light-gray-background: hsla(270, 8%, 95%, 0.4);
  --body-background: hsl(210, 23%, 95%);

  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 50%);
}

/* for dark theme */
.dark {
  --primary-color: hsl(247, 91%, 60%);

  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsla(0, 0%, 100%, 0.6);

  --body-background: hsl(0, 0%, 7%);
}

/* css reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

body {
  background-color: var(--body-background);
  font-family: var(--secondary-font-family);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font-family);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* flex utility classes */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.flex-grow {
  flex-grow: 1;
}

// text
.primary-text {
  color: var(--primary-color);
}

// background
.bg-white {
  background-color: var(--white);
}

// CL overwrite
.btn.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn.btn-primary-outline:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

/* other */
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  left: 0;
  top: -500px;
}
